            body {
            font-size: 16px;
            font-family: sans-serif;
            background-color: #b7b7b7;
            margin-top: 36px;
            margin-bottom: 0px;
            padding-bottom: 0px
        }
        
        h1 {
            margin-bottom: 5px;
            text-decoration: underline
        }
        h2{
            margin-bottom: 5px;
            text-decoration: underline
        }
h3{margin-bottom: -12px}
        .LLog {
            cursor: default
        }
        
        .Logo {
            position: fixed;
            right: 5px;
            top: 5px;
            width: 130px;
            z-index: 4
        }
        
        .Logop {
            opacity: 0;
            float: right;
            position: relative;
            right: 0px;
            top: -30px;
            width: 102px;
            z-index: 1;
            margin: 0px;
            padding: 0px
        }
        
        .Logoz {
            position: fixed;
            right: 5px;
            top: 5px;
            width: 130px;
            ;
            z-index: 5;
            opacity: 0
        }
        
        .Logoz:hover {
            opacity: 1
        }
        
        .Logon {
            display: none
        }
        nav li {
            font-size: 20px;
            color: white;
            float: left;
            padding: 5px;
            background-color: rgba(255, 255, 255, 0.2);
            border-style: solid;
            border-radius: 5px;
            border-width: 1px;
            border-color: #474747;
            margin-left: 2px;
            margin-right: 2px;
            margin-top: 2px;
            margin-bottom: 2px
        }
.active{background-color: rgba(20, 20, 20, 0.25)}
        nav li:hover {
            background-color: rgba(20, 20, 20, 0.25)
        }
        
        nav ul {
            z-index: 3;
            position: fixed;
            top: -17px;
            left: -40px;
            list-style: none;
            width: 100%;
            background-image: url(https://julian-hauck.github.io/images/Balken3.svg);
            background-size: contain;
        }
        
        .nbar {
            text-decoration: none;
        }
        
        nav {
            background-image: url(https://julian-hauck.github.io/images/Balken3.svg)
        }
        
        input#open-menu {
            display: none
        }
        
        .open-menu-label {
            display: none
        }
        
        div {
            z-index: 1;
            width: 1000px;
            margin-left: auto;
            margin-right: auto;
            background-color: white;
            padding: 25px
        }
        
        div p {
            line-height: 23px;
        }
div ul{margin-top:-10px;
line-height: 23px;
padding-left:20px}
.rot{color: red}
        footer {
            padding-left: 10px !important;
            padding: 0px;
            position: relative;
            bottom: 0px;
            left: -8px;
            background-image: url(https://julian-hauck.github.io/images/Balken3.svg);
            background-size: contain;
            color: white;
            padding-right: 0px;
            width: 200%;
            z-index: 2
        }
        
        .foot-ul {
            width: 50%;
            text-align: justify;
            margin: 0px;
            padding: 0px
        }
        
        footer li {
            padding-right: 5px;
            padding-left: 5px;
            position: relative;
            bottom: -8px;
            margin-bottom: -20px;
            margin-top: -5px;
            display: inline-block;
            list-style: none;
        }
        
        .bi {
            position: relative;
            bottom: -8px;
            margin-bottom: -20px;
            margin-top: -5px;
            display: inline-block;
            list-style: none;
            padding-left: 100% !important;
            padding: 0px;
            opacity: 1;
            font-size: 0px;
            line-height: 0x;
            background-color: red;
            border-width: 0px
        }
        
        .foot-li {
            text-decoration: underline
        }
        
        .fa {
            color: white
        }
        
        #Profilbild {
            float: right;
            border-radius: 200000px;
            width: 150px
        }
        
        #GTR {
            float: right;
            width: 150px
        }
        
        #C64 {
            margin-right: 10px;
            float: left;
            height: 180px;
        }
        
        @media screen and (max-width: 1070px) {
            div {
                margin-left: 0px;
                margin-right: 0px;
                width: auto;
                padding.0px
            }
            body {
                background-color: white
            }
            /*

smartphone smartphone smartphone smartphone smartphone smartphone smartphone smartphone smartphone smartphone smartphone smartphone smartphone 
smartphone smartphone smartphone smartphone smartphone smartphone smartphone smartphone smartphone smartphone smartphone smartphone smartphone 
smartphone smartphone smartphone smartphone smartphone smartphone smartphone smartphone smartphone smartphone smartphone smartphone smartphone 
 
*/
            @media screen and (max-width: 600px) {
                .Logo {
                    position: fixed;
                    right: -9999px;
                    top: -999px
                }
                .Logoz {
                    position: fixed;
                    right: -9999px;
                    top: -999px
                }
                nav {
                    display: none
                }
                .Logon {
                    display: block;
                    position: fixed;
                    right: 3px;
                    top: 3px;
                    height: 50px;
                    z-index: 4
                }
                input[type=checkbox]:checked ~ nav {
                    display: block
                }
                .open-menu-label {
                    position: fixed;
                    display: block;
                    width: 100%;
                    padding: 10px;
                    left: 0px;
                    top: 0px;
                    background: rgb(13, 109, 14);
                    /*        background: rgb(39,135,41);*/
                    cursor: pointer;
                    color: white;
                    font-size: 25px;
                    border-bottom-style: solid;
                    border-bottom-width: 1px;
                    border-bottom-color: #474747
                }
                .nav-span {
                    margin-right: 10px
                }
                nav li {
                    color: black;
                    float: none;
                    padding: 5px;
                    background-color: rgba;
                    border-style: solid;
                    border-top-style: none;
                    border-radius: 0px;
                    border-width: 1px;
                    border-color: #474747;
                    margin: 0px;
                    font-size: 23px
                }
                nav ul {
                    position: fixed;
                    top: 37px;
                    list-style: none;
                    width: 100%;
                    background-image: none;
                    background-color: rgb(20, 165, 20);
                    z-index: 2
                }
                footer {display: block;
                    background-image: none;
                    background-color: rgb(13, 109, 14);
                }
                .foot-ul {
                    text-align: left;
                }
                footer li {
                    float: none;
                    padding: 5px;
                    padding-right: 5px;
                    padding-left: 5px;
                    position: static;
                    margin-bottom: 0px;
                    margin-top: 0px;
                    display: block;
                    list-style: none;
                }
                .bi {
                    display: none;
                }
            }